version: "3.8"

services:
  webapp:
    container_name: webappctr
    image: golang:latest
    volumes:
      - .:/go/src/dp210go
    working_dir: /go/src/dp210go
    command: go run main.go
    links:
      - redis
    environment:
#      TEST_ENV: testenv
      REDIS_URL: redis:6379
      DB_USER: postgres
      DB_PASSWORD: secret
      DB_HOST: db
      DB_DB: postgres
      DB_PORT: 5432
    ports:
      - 8000:8000
    depends_on:
      - redis
    networks:
      - fullstack

  redis:
    container_name: redisctr
    image: redis:latest
    depends_on:
      - db
    networks:
      - fullstack

  db:
    container_name: dbctr
    image: postgres:latest
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: postgres
#    healthcheck:
#      test: [ "CMD", "pg_isready", "-U", "postgres", "-d", "test" ]
#      interval: 10s
#      timeout: 5s
#      retries: 5
    volumes:
      - database_postgres:/var/lib/postgresql/data
    networks:
      - fullstack

volumes:
  database_postgres:

networks:
  fullstack:
    driver: bridge