version: "3.8"

services:
  #~ webapp_user:
    #~ container_name: dp210go_ctr_user
    #~ image: dp210goimg
    #~ working_dir: /app
    #~ command: ./dp210goapp
    #~ links:
      #~ - redis
    #~ env_file:
      #~ - ./env/db.env
      #~ - ./env/webapp.env
    #~ ports:
      #~ - "127.0.0.1:8000:8000"
    #~ depends_on:
      #~ - redis
      #~ - db
    #~ networks:
      #~ - fullstack
      
      
  #~ webapp_doctor:
    #~ container_name: dp210go_ctr_doctor
    #~ image: dp210goimg_doctor
    #~ working_dir: /app
    #~ command: ./dp210goapp_doctor
    #~ links:
      #~ - redis
    #~ env_file:
      #~ - ./env/db.env
      #~ - ./env/webapp.env
    #~ ports:
      #~ - "127.0.0.1:8000:8000"
    #~ depends_on:
      #~ - redis
      #~ - db
    #~ networks:
      #~ - fullstack

  redis:
    container_name: dp210go_redisctr
    image: redis:latest
    ports:
      - 6379:6379
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 5
    networks:
      - fullstack
    

  db:
    container_name: dp210go_dbctr
    image: postgres:latest
    restart: always
    ports:
      - 5432:5432
    env_file:
      - ./env/db.env
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres", "-d", "postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - fullstack

networks:
  fullstack:
    driver: bridge
